<!DOCTYPE html>
<html>
    <head>
        <title>札记</title>
    </head>

    <body>
        {% if category %}
        <h1>{{ category_name }}</h1>
            {% if pages %}
            <ul>
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
                <strong>此类别中还没有页面</strong>
            {% endif %}
        {% else %}
            类别 {{ category_name }} 不存在!
        {% endif %}
    </body>
</html>
