{% extends 'zhaji/base.html' %}

{% load staticfiles %}

{% block title %}{{ category_name }}{% endblock %}

{% block body_block %}
    <h1>{{ category_name }}</h1>
    {% if category %}
        {% if books %}
          <ul>
                {% for book in books %}
                <li><a href="{{ book.url }}">{{ book.name }}</a></li>
                {% endfor %}
          </ul>
        {% else %}
                <strong>类别中目前没有书籍</strong>
        {% endif %}

    {% else %}
        此特定类别 {{ category_name }} 不存在
    {% endif %}

{% endblock %}
